
form {
border: 2px solid brown;
border-radius: 3px;
padding: 20px;

}


table {
    width: 400px;
    height: 200px;
    border-collapse: collapse;
    margin: 20px 0;
}

th {
    background-color: brown;
    color:white;
    text-align: center;
    padding: 12px 25px;
}

td {
    background-color: rgb(252, 238, 220);
    color: brown;
    text-align: center;
    padding: 12px 25px;
}

table, th, td {
    border: 2px solid rgb(122, 24, 24);
}

h1 {
    font-family: cursive;
    color: brown
}

label {
    color: brown;
    font-size: 22px;
}

input, textarea, select, button   {
    border: 1px solid brown;
    background-color: rgb(252, 238, 220);
    color: brown;
    font-size: 17px;
}


 input[type="radio"] {
    appearance: none; /* Remove o estilo padrão */
    width: 20px;
    height: 20px;
    border: 2px solid brown; /* Cor da borda */
    border-radius: 50%; /* Mantém o formato redondo */
    outline: none;
    cursor: pointer;
    display: inline-block;
    position: relative;
}

/* Mudando a cor quando está selecionado */
input[type="radio"]:checked {
    background-color: red; /* Cor de fundo ao selecionar */
    border-color: brown; /* Cor da borda ao selecionar */
}

/* Criando um efeito de bolinha interna */
input[type="radio"]::before {
    content: "";
    width: 12px;
    height: 12px;
    background-color:  rgb(252, 238, 220);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.2s ease-in-out;
}

/* Mostrar a bolinha interna quando selecionado */
input[type="radio"]:checked::before {
    transform: translate(-50%, -50%) scale(1);
}

input[type="form"]:checked{
    appearance: none; /* Remove o estilo padrão */
    border: 2px solid brown; /* Cor da borda */
    background-color:  rgb(252, 238, 220);
    color:brown;
}

